@import url("https://cdn.syncfusion.com/ej2/material.css");

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
  z-index: 1;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media screen and (max-width: 800px) {
  .sidebar {
    z-index: 10000000;
  }
}

.e-dlg-center-center,
.e-quick-popup-wrapper.e-device {
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

#preview {
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left),
.e-input-group.e-success:not(.e-float-icon-left),
.e-input-group.e-warning:not(.e-float-icon-left),
.e-input-group.e-error:not(.e-float-icon-left),
.e-input-group.e-control-wrapper:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left),
.e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left) {
  border: none;
}

text {
  font-family: "Open Sans", sans-serif !important;
}

/* Dark Mode table */

.dark .e-grid {
  border-color: #7a7a7a;
}

.dark .e-grid .e-gridheader {
  background-color: #20232a;
  border-color: #7a7a7a;
}

.dark .e-grid .e-headercell {
  color: #e5e7eb;
  background-color: #20232a;
}

.dark .e-grid .e-table {
  background-color: #33373e;
}

.dark .e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd),
.dark .e-grid .e-rowcell:not(.e-editedbatchcell):not(.e-updatedtd) p {
  color: #fafafa;
  border-color: #7a7a7a;
}

.dark .e-grid .e-altrow,
.dark .e-grid .e-gridpager,
.dark .e-grid .e-pagercontainer {
  background-color: #20232a;
  color: #20232a;
}

.dark .e-grid .e-gridpager .e-prevpagedisabled,
.dark .e-grid .e-gridpager .e-prevpage,
.dark .e-grid .e-gridpager .e-nextpage,
.dark .e-grid .e-gridpager .e-nextpagedisabled,
.dark .e-grid .e-gridpager .e-lastpagedisabled,
.dark .e-grid .e-gridpager .e-lastpage,
.dark .e-grid .e-gridpager .e-firstpage,
.dark .e-grid .e-gridpager .e-firstpagedisabled {
  background-color: #33373e;
  color: #e5e7eb;
}

.dark .e-grid .e-pager {
  border-bottom: rgba(0, 0, 0, 0);
  border-left: rgba(0, 0, 0, 0);
  border-right: rgba(0, 0, 0, 0);
  border-top: rgba(0, 0, 0, 0);
}
.dark .e-pager div.e-icons.e-pager-default {
  color: #e5e7eb;
  border-top: rgba(0, 0, 0, 0);
}

.dark .e-toolbar {
  border-style: solid none none;
  border-width: 1px;
  border-top-color: #7a7a7a;
}

.dark .e-toolbar .e-toolbar-items {
  background-color: #20232a;
  border: none;
}

.dark .e-toolbar .e-toolbar-items ::placeholder {
  color: #e5e7eb;
  opacity: 1;
}

.dark .e-toolbar.e-control[class*="e-toolbar"] {
  background-color: #20232a;
  box-sizing: content-box;
}

.dark .e-input-group:not(.e-disabled) .e-input-group-icon {
  color: #e5e7eb;
}

.dark .e-input-group:not(.e-disabled) .e-input-group-icon:hover {
  color: #20232a;
}

.dark .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn-text,
.dark .e-toolbar .e-tbar-btn.e-btn .e-icons {
  color: #000;
}

.dark .e-grid td.e-active,
.dark .e-grid td.e-active p {
  background: #a1a1a1;
  color: #000 !important;
}

.dark .e-calendar {
  background-color: peachpuff;
  border: 3px solid red;
}
